body, html{
    margin: 0;
    padding: 0;
    font-family: Arial;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-image: url("img/bgimg.jpg");
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: #333;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    font-size: 24px;
}
.nav-links-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links-desktop li {
    padding: 0 15px;
}

.nav-links-desktop a {
    color: #FFF;
    text-decoration: none;
    transition: .3s;
}